ipykernel
ipython
ipython-genutils
ipywidgets
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-dash
jupyterlab
matplotlib
nbconvert
nbformat
notebook
numpy
pandas
requests
scipy
torch
torchvision
torchaudio
torch-summary
